html
  body
    section.contents
      img.gulp-logo(src='assets/images/gulp-2x.png', alt='Gulp!', width='57', height='128')
      h1 Gulp! Starter Projecs
      p This project contains the following libraries - Jade Changes Done:
      ul
        li(ng-repeat='technology in home.technologies') {{technology}}